*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    background: #1F2937;
    height: 100vh;
}

h1 {
    margin: 0;
    line-height: 30px;
    font-weight: bold;
    color: white;
    font-family: "Karla"
}

#random-password-text {
    color: #4ADF86;
}

h4 {
    line-height: 30px;
    color: #D5D4D8;
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 80%;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

#generate-btn {
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #10B981;
    color: white;
}

#top-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    height: 60%;
}

#password-container {
    border-top: 1px solid #2F3E53;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.password-results {
    border: none;
    border-radius: 6px;
    width: 45%;
    height: 40px;
    background: #273549;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
}
